.footer {
  position: relative;
  background-color: var(--color-accent-light);
  transform: scale(1.01);
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 92.5%;
  background-color: var(--color-accent-dark);
}

.footer::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 78%;
  height: 1px;
  background-color: var(--color-bg);
}

.footer__container {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 320px 160px 160px;
  gap: 64px 77px;
  padding-top: 97px;
  padding-bottom: 64px;
}

.footer__text {
  color: var(--color-bg);
  opacity: 1;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 300px;
}

.contacts__company {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 9px;
  font: var(--font-h2);
  font-size: 28px;
  color: var(--color-bg);
  text-decoration: none;
}

.contacts__row {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.contacts__marker {
  font: var(--font-h3);
  font-size: 16px;
  color: var(--color-bg);
}

.footer-links__title {
  margin: 0 0 32px;
  font: var(--font-h3);
  color: var(--color-bg);
}

.footer-links__items {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 16px;
  list-style: none;
}

.footer__copyright {
  font: var(--font-underline);
  color: var(--color-bg);
  opacity: 0.4;
  grid-column: span 3;
}

@media (max-width: 1010px) {
  .footer__container {
    grid-template-columns: 320px 160px;
  }

  .footer-links--socials {
    grid-column: span 2;
  }

  .footer-links--socials .footer-links__items {
    flex-flow: wrap;
    flex-direction: row;
  }
}

@media (max-width: 1010px) {
  .footer__container {
    grid-template-columns: 1fr;
  }

  .footer-links--socials,
  .footer-links--about-us,
  .footer__copyright {
    grid-column: span 1;
  }

  .footer-links--about-us .footer-links__items {
    flex-flow: wrap;
    flex-direction: row;
  }
}

@media (max-width: 640px) {
  .footer::before {
    width: 98.5%;
  }

  .footer::after {
    width: 80%;
  }
}
